<br><br>

&#9992; <h2>Equipment Used</h2>

&#127908; Microphone – <a href="https://www.amazon.com/gp/product/B002VA464S/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002VA464S&linkCode=as2&tag=mikeyslice-20&linkId=f09e375f583ffbe6d1d2c4c0909752bd" target="_blank">[Blue Yeti]</a><br>


&#127909; Video Camera – <a href="https://www.amazon.com/gp/product/B01MTTMPKT/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01MTTMPKT&linkCode=as2&tag=mikeyslice-20&linkId=241efeb24eb6b8dfccc05905aef899ae" target="_blank">[Logitech c922]</a><br>

&#127911; Headphones – <a href="https://www.amazon.com/gp/product/B014H2T84K/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B014H2T84K&linkCode=as2&tag=mikeyslice-20&linkId=1579bca95b9156a99a035f32040add96" target="_blank">[Astro a40 TR]</a><br>


✅Green Screen – <a href="https://www.amazon.com/gp/product/B003Y2KSC6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003Y2KSC6&linkCode=as2&tag=mikeyslice-20&linkId=980997e3d86429d52f97edc629957389" target="_blank">[Fotodiox Collapsible Background Kit]</a><br>

&#128161; Lighting – <a href="https://www.amazon.com/gp/product/B015QPG3P4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B015QPG3P4&linkCode=as2&tag=mikeyslice-20&linkId=d13338f1dc466c6c2d3d4a4eba7a7544" target="_blank">[Julius Lighting]</a><br>

&#128186; Chair – <a href="https://www.amazon.com/gp/product/B0711QC6Q9/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0711QC6Q9&linkCode=as2&tag=mikeyslice-20&linkId=2327f1dafce3b46042f1fefbc0a9fd1d" target="_blank">[DxRacer Forumula Series]</a><br>


&#128204; Desk – <a href="https://www.amazon.com/gp/product/B073BNTSGH/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B073BNTSGH&linkCode=as2&tag=mikeyslice-20&linkId=01c3a3e9a9483b5bb893b94d88ba626a" target="_blank">[Atlantic Gaming Desk]</a> <br>

&#128250; Monitor 1 – <a href="https://www.amazon.com/gp/product/B00B2HH7G0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00B2HH7G0&linkCode=as2&tag=mikeyslice-20&linkId=095b13317b5abaf58ee430c470120b87" target="_blank">[ASUS 24 Inch 144 hz 1ms]</a><br>

&#128250; Monitor 2 & 3 – <a href="https://www.amazon.com/gp/product/B01H5KKRLO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01H5KKRLO&linkCode=as2&tag=mikeyslice-20&linkId=8affdc62979b4a09683cfb4938b3072c" target="_blank">[BenQ 24 Inch Gaming Monitor Zowie]</a><br>

&#128430; Keyboard – <a href="https://www.amazon.com/gp/product/B00ZUPOMDQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ZUPOMDQ&linkCode=as2&tag=mikeyslice-20&linkId=af201c76e444176e2f1847109a50ce9b" target="_blank">[Corsair Strafe Red Backlit Keyboard]</a><br>


&#128045; Mouse – <a href="https://www.amazon.com/gp/product/B01D63UU52/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01D63UU52&linkCode=as2&tag=mikeyslice-20&linkId=b05d1a09e813e62658b6ccd78539aae2" target="_blank">[Corsair Gaming Mouse]</a><br>

🔳Keyboard/Mouse pad – <a href="https://www.amazon.com/gp/product/B00J2EF4K6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00J2EF4K6&linkCode=as2&tag=mikeyslice-20&linkId=96b8b0731987ba742c62f144f294fc9a" target="_blank">[Glorious PC Gaming Race]</a><br> 