<section class="cd-fixed-background img-1" title="Chess Rook" data-type="slider-item">
		<div class="cd-content">
			<h2>Chess</h2>
			<p>The king of skill games, no doubt about it.</p>
			<p>Mikey Slice is very competitive but also loves helping newer players learn and take their game to the next level.</p>
			<p>Check out Episode 1 of <a href="https://www.youtube.com/watch?v=-pPv2KXIruU" target="_blank">Learn Chess with MikeySlice</a> exclusive series!</p>
		</div>
	</section>

	<section class="cd-fixed-background img-2" title="Bowling Pins" data-type="slider-item">
		<div class="cd-content light-background">
			<h2>Skillz Games</h2>
			<p>Bubble Shooter Tournaments, Strike! Real Money Bowling and Cube Cube. What do they have in comon?</p>
			<p>They all could potentially make you some nice cash, if you play your cards right.</p>
			<p>If you're not winning big, don't despair. Mikey Slice will teach you how it's done with his special <a href="#">Skillz Lessons</a>!</p>
		</div>
	</section>

	<section class="cd-fixed-background img-3" title="Game Cards" data-type="slider-item">
		<div class="cd-content">
			<h2>Esports</h2>
			<p>When he is not streaming chess, making how-to videos or teaching, Mikey Slice is keeping busy playing other competitive games.</p>
			<p>Hearthstone is always a popular choice and Mikey Slice is pretty serious about mana efficiency!</p>
			<p>Get a taste of it by watching one of his past broadcasts on <a href="https://www.twitch.tv/videos/297774386" target="_blank">Twitch.tv/MikeySlice</a>.</p>
		</div>
	</section>

	<section class="cd-fixed-background img-4" title="Pizza Slice" data-type="slider-item">
		<div class="cd-content">
			<h2>The Real Mikey Slice</h2>
			<p>I figure if you’re not working toward something, you’re not working for anything.</p>
			<p>What makes my stream stand out from the others? <br>I’m real. I’m fun. So that makes me real fun right? I’d like to think so. <br>I don’t sugar coat things though. I tell it how it is, and I know how to troll the trolls. That’s something to watch, especially live!</p>
			<p>I also enjoy crafting various tutorials, such as my latest <a href="#">Custom Stinger Transitions Tutorial.</a></p>
		</div>
	</section>
