<div class="posts-wrapper">
    <ul class="post-index" id="top-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Enhance your SKILLZ. Boost your INCOME!</span>
          <span class="post-excerpt">Are you a gamer looking for ways to make money playing mobile games? The search 
stops here! This is your chance to land FREE entries into top tournaments with 
incredible cash prizes. 

Whether you’re a stay-at-home parent, deal hunter, media 
consumer, game show enthusiast, social casino fan - you name it - everyone is 
welcome to join my tournaments. 
<br><br>
I run tournaments for YOU on mobile Skillz games 
every month with $300 in cash up for grabs! What we love most about mobile 
Skillz games is that you can you can play anywhere, anytime, from your mobile 
device. All you need is a mobile device and an internet connection! You can make 
money playing games, instead of paying to play them. If you ask me, it just 
makes sense.
</span>
        </li>
        <li class="post-video">
         <div class="resp-container">
				 		<iframe class="resp-iframe" width="560" height="315" src="https://www.youtube.com/embed/htiNUWE9IMs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>   
         <p class="centered">
         <a class="btn" href="https://www.youtube.com/channel/UCML7namxZY4u9HtMoYBYPMA?sub_confirmation=1" target="_blank">Subscribe now!</a>
         <a class="btn" href="https://goo.gl/chb3uB" target="_blank">Watch Most Recent</a>
         <a class="btn" href="https://goo.gl/DRWxLV" target="_blank">Watch Most Popular</a>
         
         </p>
            
        </li>
    </ul>
    
    <ul class="post-index-slice" id="about-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
          <span class="post-date">About The Mikey Slice Brand</span>
          <h3>Creation Story</h3>
          <span class="post-excerpt">The very first YouTube video was created because I saw a 
need for a Skillz promo code that was not yet fulfilled by YouTube at the time.
I shot my first YouTube video from my bedroom in my parents' house, located in 
Detroit, Michigan.
<p class="centered">
         <a class="btn" href="/about">Find out more</a>
         
         </p>
</span>
        </li>
       
    </ul>


    <ul class="post-index-slice" id="promotions-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Promotions</span>
          <span class="post-excerpt">
          &#10004; I'm currently running a 3 month promotion (valued at 
$39,900) for 50% of <a href="https://apps.apple.com/us/app/sugar-rush-match-3-esports/id1127370018" target="_blank">Sugar Rush!</a>
<br><br>

          &#10004; I ran a 30 day promotion to get Jewel 
Blitz, formerly known as Cash Royale, by ESZPlay to get their game cash enabled. 
That promotion led to their game getting cash enabled within 30 days from the 
end of the promotion. 

<br><br>

&#10004; I ran a 30 day promotion for BeSwitched Tournament to get 
more players onto their game. I brought more than 50 daily active users to their 
platform by the end of the promotion.
			</span>
        </li>
        
    </ul>
    
    
    
    <ul class="post-index-slice" id="price-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Prices</span>
          <br>
          <br>
          <span class="post-excerpt">
          
          Due to the tremendous growth of the <b>Mikey Slice</b> brand it's impossible to post a static price list here. 
          
          <br><br>
          To find out more about my reach, and get the Mikey Slice Media kit please email me at 
					<a href="mailto:mikey@esportsmedium.com?Subject=I want a slice of the Mikey Slice pie">mikey@esportsmedium.com</a> if you're interested in 
					running a promotion through my brand. 
					
					<br><br>
					Use <em>"I want a slice of the Mikey Slice pie"</em> as the subject line, or else your email may get overlooked, 
					as I get a lot of requests from brands every day. <br>Serious advertisers only! I don't work for 
					less than $1,000. Keep that in mind before emailing me!
					</span>
        </li>
        
    </ul>
    
    <ul class="post-index-slice" id="testimonials-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Testimonials</span>
          <span class="post-excerpt">
          
          <em>&#10077; Thanks Mikey! You are doing great! </em><br><br>- Matthew Skinner, 
Founder of ESZPlay the developer of Jewel Blitz.
			</span>
        </li>
        
    </ul>
    
</div>

