<div class="posts-wrapper">
    <ul class="post-index" id="top-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Enhance your SKILLZ. Boost your INCOME!</span>
          <span class="post-excerpt">Are you a gamer looking for ways to make money playing mobile games? The search 
stops here! This is your chance to land FREE entries into top tournaments with 
incredible cash prizes. 

Whether you’re a stay-at-home parent, deal hunter, media 
consumer, game show enthusiast, social casino fan - you name it - everyone is 
welcome to join my tournaments. 
<br><br>
I run tournaments for YOU on mobile Skillz games 
every month with $300 in cash up for grabs! What we love most about mobile 
Skillz games is that you can you can play anywhere, anytime, from your mobile 
device. All you need is a mobile device and an internet connection! You can make 
money playing games, instead of paying to play them. If you ask me, it just 
makes sense.
</span>
        </li>
        <li class="post-video">
         <div class="resp-container">
                <iframe class="resp-iframe"
src='https://www.youtube.com/embed/?listType=playlist&list=UUML7namxZY4u9HtMoYBYPMA' 
frameborder='0' allowfullscreen /></iframe>
         </div>   
         <p class="centered">
         <a class="btn" href="https://www.youtube.com/channel/UCML7namxZY4u9HtMoYBYPMA?sub_confirmation=1" target="_blank">Subscribe now!</a>
         <a class="btn" href="https://goo.gl/chb3uB" target="_blank">Watch Most Recent</a>
         <a class="btn" href="https://goo.gl/chb3uB" target="_blank">Watch Most Popular</a>
         
         </p>
            
        </li>
    </ul>
    
    <ul class="post-index-slice" id="about-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
          <span class="post-date">About The Mikey Slice Brand</span>
          <h3>Creation Story</h3>
          <span class="post-excerpt">The very first YouTube video was created because I saw a 
need for a Skillz promo code that was not yet fulfilled by YouTube at the time.
I shot my first YouTube video from my bedroom in my parents' house, located in 
Detroit, Michigan.
<p class="centered">
         <a class="btn" href="/about">Find out more</a>
         
         </p>
</span>
        </li>
       
    </ul>
    
    <ul class="post-index-slice" id="goals-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Goals</span>
          <span class="post-excerpt">
          
          &#10694; Live stream every 
Thursday from 12 pm to 8 pm EST.<br><br>
       &#10694; Create daily match codes for my fellow eLeets.<br><br>
       &#10694; Meet with Skillz' CEO, Andrew Paradise.<br><br>
       &#10694; Buy a new camera, and lens.<br><br>
       &#10694; Sell a 90 day promotion for a Skillz game through my brand.<br><br>
       &#10694; Weigh 171 pounds by April 1st. I currently weigh 205.
			</span>
        </li>
        
    </ul>
    
    <ul class="post-index-slice" id="testimonials-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Testimonials</span>
          <span class="post-excerpt">
          
          <em>&#10077; Thanks Mikey! You are doing great! </em><br><br>- Matthew Skinner, 
Founder of ESZPlay the developer of Jewel Blitz.
			</span>
        </li>
        
    </ul>
    
    <ul class="post-index-slice" id="promotions-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Promotions</span>
          <span class="post-excerpt">
          &#10004; I ran a 30 day promotion to get Jewel 
Blitz, formerly known as Cash Royale, by ESZPlay to get their game cash enabled. 
That promotion led to their game getting cash enabled within 30 days from the 
end of the promotion. 

<br><br>

&#10004; I ran a 30 day promotion for BeSwitched Tournament to get 
more players onto their game. I brought more than 50 daily active users to their 
platform by the end of the promotion.
			</span>
        </li>
        
    </ul>
    
    <ul class="post-index-slice" id="price-sect">
        <li class="post-details">
          <a href="{{ post.url }}" class="post-title"></a>
          <span class="post-date">Price List</span>
          <br>
          <h2><u>Plans</u></h2>
          <br>
          <span class="post-excerpt">
          
          <b>&#8226; Promote with 36 shout outs via social media:</b><br><br>
      	
&#9702; 15 on Facebook
      <br><br>
      	
&#9702; 12 on Twitter
      <br><br>
      	
&#9702; 9 on Instagram
      <br><br>
      &#8226; <b>Price: $5,900</b>

<br>
<hr>


          <b>&#8226; 9 demo/play sessions:</b><br><br>
      	
      	&#9702; (15 mins to 1 hour each),<br> while streaming live on YouTube to my over 5,500 subscribers.
      	 <br><br>
      &#8226; <b>Price: $14,900</b>
      
      
<br>
<hr>


          <b>&#8226; 1 banner ad:</b><br><br>
      	
      	&#9702; displayed on the <a href="https://esportsmedium.com/skillz-match-codes" target="_blank">Skillz match codes page</a> for 90 days.
      	 <br><br>
      &#8226; <b>Price: $5,900</b>

<br>
<hr>


          <b>&#8226; 1 YouTube video:</b><br><br>
      	
      	&#9702; promoting your Skillz game. This will stay on my channel FOREVER!
      	 <br><br>
      &#8226; <b>Price: $9,900</b>
      
<br>
<hr>


          <b>&#8226; Play your game for 1 hour:</b><br><br>
      	
      	&#9702; AND give a private honest review of that game.
      	 <br><br>
      &#8226; <b>Price: $790</b>
      
<br>
<hr>


          <b>&#8226; Place a download link to your game:</b><br><br>
      	
      	&#9702; displayed in the description of the 5 most viewed
    Skillz related videos on my channel for 90 days.
      	 <br><br>
      &#8226; <b>Price: $9,900</b>      

<br><br>
<h3><u>Bundles</u></h3>
<br>

          <b>&#8226; Bundle and Promote Your Skillz Game For LESS!</b><br><br>
      	
      	&#9702; <b>ALL OF THE ABOVE!</b> (Save $7,390!)
      	<br><br>
      	&#9702; Get 36 social media shout outs, 9 live
    demo/play sessions on YouTube, 1 banner ad on the Skillz match codes page, 1
    YouTube video promoting your Skillz game, private honest review, and get a
    download link to  your game in the description of the 5 most viewed Skillz
    related videos on my channel for 90 days.
      	 <br><br>
      &#8226; <b>Price: $39,900</b>
      
<br>
<hr>

<b>&#8226; Bundle and Promote Your Skillz Game For LESS!</b><br><br>
      	
      	&#9702; <b>ALL OF THE ABOVE FOR 1 YEAR!</b> (Save $58,090!)
      	<br><br>
      	&#9702; Get 144 social media shout
    outs, 36 live demo/play sessions on YouTube, 1 banner ad on the Skillz match
    codes page for 12 months, 1 YouTube video promoting your Skillz game, 1
    private honest review, and get a download link to  your game in the
    description of the 5 most viewed Skillz related videos on my channel for 12
    months! Get all of this for 1 *heavily discounted* price!
      	 <br><br>
      &#8226; <b>Price: $99,900</b>
      
    
<br><br>
<hr>
<p>
<em>
Individually, each of these will take about 90 days to complete on our end. We 
will need to gather some information from you about your game, and what you’d 
like to see from us. We’ll be in contact with you before the promotion, during 
the promotion, and after the promotion. We will also create a special link to 
measure unique clicks. However, we can’t know how many downloads occur from 
those clicks without your help since the App Store won’t share this information 
with third parties.

<br><br>
<b>DISCLAIMER:</b> These prices are subject to change at any time. Visit the <a href="/contact">Contact 
 page</a> to lock in these rates today!

</p>  
</em>			
</span>
        </li>
        
    </ul>
    
</div>

