<br><br>

&#127817; <h2>Services Used</h2>

&#128073; Video editing done by <a href="/video-editor" target="_blank">http://mikeyslice.com/Video-Editor</a><br>

&#128073; Overlays and grahpic design done by <a href="/overlays" target="_blank">http://mikeyslice.com/overlays</a><br>

&#128073; Stinger transitions done by <a href="/stingers" target="_blank">http://mikeyslice.com/stingers</a><br>

&#128073; Thumbnails created by <a href="/youtube-thumbnails" target="_blank">http://mikeyslice.com/youtube-thumbnails</a><br>

&#128073; Convert your logo to a file for hats at <a href="/logo-to-hat-file" target="_blank">http://mikeyslice.com/logo-to-hat-file</a><br>

&#128073; Stinger intro done by <a href="/stinger-intros" target="_blank">http://mikeyslice.com/stinger-intros</a><br>