<section class="skillz-lessons">
    <div class="cd-content">
        <h2>Skillz Lessons</h2>
        <p>Skillz, the leader in mobile esports, now has a coach! Get exceptional Skillz lessons by myself, MikeySlice. Specializing in Bubble Shooter Tournaments and Strike! Real Money Bowling. I’ve made over $20,000 playing Skillz’ games. So if you’re looking to improve your Skillz game look no further than right here! Offering lessons in both Bubble Shooter and Strike! Real Money Bowling.</p>
        
    	<div class="bubble-shooter">
    	    <div class="plan-description">
    	    <h2>Bubble Shooter Lessons</h2>
    	    <p>Take your Bubble Shooter game to the next level with one on one Skillz lessons with myself, MikeySlice. I’ve been playing Bubble Shooter since 2015 with an average score of about 130,000.</p>
    	    <h3>What you'll learn:</h3>
    	    <ul>
    	        <li>Learn the basics on how to get down to 2 colors</li>
    	        <li>Learn how to keep the board at 2 colors for as long as possible</li>
    	        <li>Learn how to double your score</li>
    	        <li>Learn how to hit off-the-wall shots</li>
    	        <li>Learn profitable betting strategies</li>
    	        <li>Learn the best use of Ticketz</li>
    	        <li>Learn how to refer more friends and play for free!</li>
    	    </ul>
    	    </div>
    	    
    	    <div class="plan-cta">
    	       
                
                
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BK2N2ASVWUCFS">
<h3><em><strong>1 hour Bubble Shooter Lesson | from $499 USD<br>(discounts available)</strong></em></h3>
                <img src="/img/bubbleshooter1.png">
<table>
<tr><td><input type="hidden" name="on0" 
value="Quantity">Quantity</td></tr><tr><td><select name="os0">
<option value="1 Lesson">1 Lesson $499.00 USD</option>
<option value="2 Lessons">2 Lessons $749.00 USD</option>
<option value="3 Lessons">3 Lessons $899.00 USD</option>
</select> </td></tr>
</table>

<input type="hidden" name="currency_code" value="USD">
<input type="image" 
src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" 
name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" 
width="1" height="1">
</form>
               
                
    	    </div>
    	</div>
    	
    	
    <h2>Requirements</h2>
    <p>Must have Skype or Discord for video call + screen share. Must be iPhone user. Must have a mirroring Software for your iPhone to go to your PC. If you don’t have one then try a <a href="https://www.mirroring360.com/" target="_blank">Mirroring 360 free trial here!</a></p>
    <h2>Book Now!</h2>
    <p>What are you waiting for! These are introductory prices, since I’m the only one who’s offering Skillz lessons supply and demand might bring the price point up! Learn one on one how to start making money from the guy who’s made over $20,000 playing games on his phone.</a></p>
	</div>
</section>
